header {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-L9Hzhb9lv3DLsfz2e4C9xwsAlhAJw9-7LQ&usqp=CAU");
    background-size: 200px;
    width: 100%;
}
html,
body {
	height: 100%;
}
body {
	display: flex;
  flex-direction: column;
}
.center {
    text-align: center;
}
.norm {
    font-family: serif;
    font-weight: normal;
}
header nav {
    margin-top: 5%;
}
header h1 {
    text-align: center;
}
header {
    float: left;
}
.mid h4 {
	margin-left: 7%;
}
ol {
	margin-left: 8%;
}
.mid h1,
.mid h3,
.mid p {
    margin-left: 5%;
    color: black;
}
.mid {
    line-height: 150%;
    font-size: 1.2em;
}
#recycle-bindisabled{
	color: grey;
}
/*header nav {
    margin: 1%;
}

nav a:hover {
    opacity: 1;
}
.active {
    opacity: 1;
    background: white;
}
nav a {
    background: white;
    opacity: 0.7;
} */
.left {
    float: left;
    background: lightgreen;
    width: 25%;
	height: 100%;
	margin-bottom: 0;
	margin-top: 3%;
}
.left img {
    display: block;
    width: 70%;
    border: solid 2px green;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 10%;
}
.right {
    display: inline-block;
    width: 70%;
}
.push {
    height: 50px;
}
.footer {
	text-align: center;
	flex-shrink: 0;
    background: rgb(150, 150, 150);
	font-size: 30px;
	margin: 0;
}
.footer-home {
	text-align: center;
	background: rgb(150, 150, 150);
	font-size: 30px;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.content {
    flex: 1 0 auto;
}
.works-cited {
	font-family: 'Times New Roman', Times, serif;
	font-size: 12;
	line-height: 2;
}